@media screen and (max-width: 800px) {
    html {
        background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSa4-ssqwurszHOpxKxu3Bvll9ACyWZ_hfRWgMfLK3HZvsPFYIG") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .fig {
        text-align: center;
    }
    .button {
        width: 15%;
        text-align: left;
    }
    .imgmy {
        width: 300px;
    }
    .classm {
        height: 300px;
    }
}