@media screen and (max-width: 800px) {
    body {
        background-color: lightgreen;
    }
    
    .fig{
        text-align: center;
    }
    
    .button{
        width: 15%;
        text-align: left;
    }
    
    .imgmy{
        width: 300px;
    }
    
}