@media screen and (max-width: 599px) {
    body {
        background-color: lightgreen;
    }
    
    .fig{
        text-align: left;
    }
    
    .button{
        width: 15%;
        text-align: left;
    }
}